<div class="border rounded shadow">
  <div class="card-head p-2">
    <h2 class="modal-title text-center mb-2 text-info">E-Commerce</h2>
    <h3 class="modal-title text-center" id="loginModalLabel">Login</h3>
    <hr />
  </div>
  <div class="modal-body">
    <form id="loginForm" (submit)="onLogin($event)">
      <div class="form-group mb-4">
        <label for="email" class="font-weight-bold">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Example:- test@increff.com"
          [(ngModel)]="email"
          required
        />
      </div>
      <div class="form-group mb-4">
        <label for="password" class="font-weight-bold">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="error-msg bg-light p-1 text-center" *ngIf="showErrorMsg">
        *Username or password is incorrect
      </div>
      <button
        type="submit"
        class="btn btn-outline-primary mx-auto d-block px-4 py-2"
      >
        Submit
      </button>
    </form>
  </div>
</div>
