<!-- Main Body -->
<div class="container" id="uploadContainer">
  <div class="page-heading">
    <div class="col-12 px-md-0">
      <div class="d-flex justify-content-between">
        <h2>Upload Order as CSV</h2>
        <button
          class="btn btn-primary"
          data-tooltip="tooltip"
          data-placement="top"
          title="Download CSV Template"
          id="downloadTemplate"
          (click)="downloadTemplate()"
        >
          <span class="material-icons align-middle">
            file_download
          </span>
          Template
        </button>
      </div>
      <hr />
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        #myfile
        accept=".csv"
        (change)="handleFileChange($event)"
        (click)="myfile.value=''"
      />
      <label class="custom-file-label" for="inputGroupFile01"
        >Choose file</label
      >
    </div>
  </div>
  <div
    class="mt-4 w-100 table-responsive-sm position-relative"
    id="tableContainer"
    *ngIf="showTable"
  >
    <table class="table table-bordered" id="actualTable">
      <thead class="thead-dark text-capitalize">
        <tr>
          <th>Product ID</th>
          <th>Vendor</th>
          <th>Name</th>
          <th>Price</th>
          <th>Product Tag</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let data of row">
            {{data}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="error-div" *ngIf="errorsArr.length">
    <h3 class="mb-4">Parse Errors -</h3>
    <p *ngFor="let error of errorsArr">{{error}}</p>
  </div>
</div>

<!-- dummy anchor tag -->
<a href="#" download="template.csv" class="d-none" #dummyAnchor></a>
